:root {
--unnamed-color-2727271a: #272727;
--unnamed-color-e6e3de: #E6E3DE;
--unnamed-color-de0d1f: #DE0D1F;
--unnamed-color-f3f3f3: #F3F3F3;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-272727: #272727;

/* Font/text values */
--unnamed-font-family-lato: Lato;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-35: 35px;
--unnamed-font-size-45: 45px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-42: 42px;
--unnamed-line-spacing-55: 55px;
--unnamed-decoration-underline: underline;
}
body{
    background-color: #F3F3F3;
}
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------pag 21/20/19------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/


.contenedor{
    margin: auto;
    width: 95%;
}
.contenedor-titulo{
    text-align: left;
    font: normal normal 900 20px/24px Lato;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
    margin-left: 10px;
}
.contenedor-parrafo{
    text-align: left;
    font: normal normal normal 16px/32px Lato;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
    width: 90%;
    margin:10px;
}


/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------pag 22/18------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
.contenido{
    background: var(--unnamed-color-f3f3f3) 0% 0% no-repeat padding-box;
    background: #F3F3F3 0% 0% no-repeat padding-box;
}
.contenido-titulo{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-35)/var(--unnamed-line-spacing-42) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    text-align: center;
    font: normal normal 900 35px/42px Lato;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
    margin:150px 0 30px 0;

}
.contenido-parrafo{
    text-align: center;
    font: normal normal normal 20px/24px Lato;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
    width: 400;
    height: 200px;
    margin: 0 400px 20px 400px;
}

