:root {
--unnamed-color-2727271a: #272727;
--unnamed-color-e6e3de: #E6E3DE;
--unnamed-color-de0d1f: #DE0D1F;
--unnamed-color-f3f3f3: #F3F3F3;
--unnamed-color-ffffff: #FFFFFF;
--unnamed-color-272727: #272727;

/* Font/text values */
--unnamed-font-family-lato: Lato;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-900: 900px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-medium: medium;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-20: 20px;
--unnamed-font-size-35: 35px;
--unnamed-font-size-45: 45px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-24: 24px;
--unnamed-line-spacing-25: 25px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-42: 42px;
--unnamed-line-spacing-55: 55px;
--unnamed-decoration-underline: underline;
}
body{
    background-color: #F3F3F3;
    font-family: Lato sans-serif;
}

.contenedor{
    margin: auto;
    width: 95%;
    min-height: 500px;
}

.contenedor-terminos{
    display: flex;
    align-items: center;
    text-align:center;
}
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------pag 21/20/19------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

.texto-terminos{
    margin: 15px 0 15px 0;
    width: 80%;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------pag 22/18------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

.texto-confirmacion{
    margin:0px auto;
    font-size: 20px;
}

