:root {
    --unnamed-color-e6e3de: #E6E3DE;
    --pagina-rojo: #DE0D1F;
    --pagina-gris: #cecdcd;
    --pagina-blanco: #FFFFFF;
    --unnamed-color-272727: #272727;

    /* Font/text values */
    --unnamed-font-family-lato: Lato;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-900: 900px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-35: 35px;
    --unnamed-font-size-45: 45px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-25: 25px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-42: 42px;
    --unnamed-line-spacing-55: 55px;
    --unnamed-decoration-underline: underline;
    }

    /* Character Styles */
    .unnamed-character-style-1 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-35);
    line-height: var(--unnamed-line-spacing-42);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    }
    .unnamed-character-style-2 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-medium);
    font-size: var(--unnamed-font-size-45);
    line-height: var(--unnamed-line-spacing-55);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    }
    .unnamed-character-style-3 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-900);
    font-size: var(--unnamed-font-size-20);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    }
    .unnamed-character-style-4 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    text-decoration: var(--unnamed-decoration-underline);
    }
    .unnamed-character-style-5 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-32);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    }
    .unnamed-character-style-6 {
    font-family: var(--unnamed-font-family-lato);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-25);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    }

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
body{
    background: var(--pagina-gris);
}

.contenido{
    margin:auto;
    width: 95%;
    max-width: 1400px;

}

.bg-claro{
    background-color: var(--pagina-blanco);
}

.bg-oscuro{
    background-color: var(--pagina-gris);
}

.titulo{
    font-weight: bold;
}

/*--------------------PAGINA 6--------------------*/

.grilla-proyectos{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 430px 1fr 1fr;
    grid-template-rows: minmax(200px,1fr) minmax(200px,1fr);

    grid-template-areas: "texto imagen imagen"
                         "texto imagen imagen";
}


.grilla-proyectos .proyectos-texto{
    grid-area: texto;
    padding: 30px;
}

.proyectos-texto .parrafo{
    font-size:16px;
}

.grilla-proyectos .proyectos-imagen{
    grid-area: imagen;
    margin-top: auto;
    margin-bottom: auto;
}
.proyectos-imagen img{
    width: 100%;

}

/*--------------------PAGINA 7--------------------*/

.grilla-sumate{
    display: grid;
    grid-gap: 20px;


    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: minmax(200px,auto) minmax(200px,auto);

    grid-template-areas: "imagen imagen "
                         "texto  fotos  ";
}

.grilla-sumate .sumate-imagen{
    grid-area: imagen;
}

.sumate-imagen img{
    width: 100%;
}

.grilla-sumate .sumate-texto{
    grid-area: texto;
    padding: 30px;

}

.sumate-texto .parrafo{
    color: #272727;
}

.sumate-texto .lista-container{
    padding: 20px;
    margin-top: 20px;
    background-color: var(--pagina-gris);
    font: normal normal bold 16px/32px Lato;
}

.lista-container ul{
    list-style: inside;
}

.grilla-sumate .sumate-fotos{
    grid-area: fotos;
}

.sumate-fotos .grilla-fotos
{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}

.grilla-fotos img{
    width: 100%;
}

.grilla-fotos .abajo{
    align-self: end;
}
.grilla-fotos .center{
    align-self: center;
}


/*--------------------PAGINA 8--------------------*/

.reinventate-fotos .grilla-fotos
{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 210px 210px;

    grid-template-areas: "foto1  foto3"
                         "foto2  foto3";
}

.zona-fotos{
    grid-area: fotos;
    align-self: center
}

.foto-1{
    grid-area: foto1;
    background: #F3F3F3;
}
.foto-2{
    grid-area: foto2;
    background: #F3F3F3;
}
.foto-3{
    grid-area: foto3;
    background: #F3F3F3;
}
.foto-3 img{
    height: 100%;
}

/*--------------------PAGINA 9--------------------*/

.grilla-contract{
    display: grid;
    grid-gap: 20px;


    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: minmax(200px,auto) minmax(100px,auto) minmax(200px,auto) ;

    grid-template-areas: "imagen  imagen"
                         "texto   fotos "
                         "widget  widget ";
}

.grilla-contract .sumate-imagen{
    grid-area: imagen;
}

.sumate-imagen img{
    width: 100%;
}

.grilla-contract .sumate-texto{
    grid-area: texto;
    padding: 30px;

}

.sumate-texto .parrafo{
    font: normal normal normal 16px/32px Lato;
    letter-spacing: 0px;
    color: #272727;
}

.sumate-texto .lista-container{
    padding: 20px;
    margin-top: 20px;
    background-color: var(--pagina-gris);
    font: normal normal bold 16px/32px Lato;
}

.lista-container ul{
    list-style: inside;
}

.widget{
    grid-area: widget;
    text-align: center;
}


.grilla-contract .sumate-fotos{
    grid-area: fotos;
}

.sumate-fotos .grilla-fotos
{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
}


/*--------------PAGINA 10  -------------*/

.grilla-disenos-1{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
    grid-template-rows: minmax(200px,auto) minmax(100px,auto);

    grid-template-areas: "imagen  imagen"
                         "texto   foto ";

    margin-bottom: 20px;
}

.grilla-disenos-1 .imagen{
    grid-area: imagen;
}

.imagen img{
    width: 100%;
}

.grilla-disenos-1 .texto{
    grid-area: texto;
}

.parrafo{
    font-size: 16px;
    line-height: 32px;
}

.grilla-disenos-1 .foto{
    grid-area: foto;
    background: var(--pagina-gris);
    margin: 20px;
}

.contenido .grilla-disenos-2{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px,auto) minmax(200px,auto);


    grid-template-areas: "imagen-1  imagen-2  imagen-3 "
                         "texto-1   texto-2   texto-3 ";

    margin-bottom: 20px;
}

.grilla-disenos-2 .imagen-1{
    grid-area: imagen-1;
    background-color: var(--pagina-gris);
}

.grilla-disenos-2 .imagen-2{
    grid-area: imagen-2;
    background-color: var(--pagina-gris);
}

.grilla-disenos-2 .imagen-3{
    grid-area: imagen-3;
    background-color: var(--pagina-gris);
}

.imagen-1, .imagen-2, .imagen-3 img{
    width: 100%;
}

.grilla-disenos-2 .texto-1{
    grid-area: texto-1;
}

.grilla-disenos-2 .texto-2{
    grid-area: texto-2;
}

.grilla-disenos-2 .texto-3{
    grid-area: texto-3;
}

.grilla-disenos-2 .parrafo{
    grid-area: texto-3;
    font-size: 13px;
    font-weight: 15px;
}

/*----------------PAGINA 11---------------*/


.grilla-legado-1{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,minmax(200px,auto));


    grid-template-areas: "imagen   imagen "
                         "texto    texto  ";
}

.grilla-legado-1 .imagen{
    grid-area: imagen;
}

.grilla-legado-1 .texto{
    grid-area: texto;
    grid-gap: 20px;

    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-areas: "parrafo   logo"
}

.grilla-legado-1 .texto .parrafo{
    grid-area: parrafo;
}

.grilla-legado-1 .texto .logo{
    grid-area: logo;
    align-self: center;
    text-align: left;
    font-size: 25px;
    color: var(--pagina-rojo);
    text-transform: uppercase;
}

.grilla-legado-1 .texto .logo .titulo{
    color: #272727;
}

.grilla-legado-2{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,minmax(200px,auto));

    grid-template-areas: "foto-1   foto-2   foto-3   foto-4 "
                         "texto-1  texto-1  texto-2  texto-2 ";

}

.grilla-legado-2 .foto-1{
    grid-area: foto-1;
    background-color: var(--pagina-gris);
}
.grilla-legado-2 .foto-2{
    grid-area: foto-2;
    background-color: var(--pagina-gris);

}
.grilla-legado-2 .foto-3{
    grid-area: foto-3;
    background-color: var(--pagina-gris);

}
.grilla-legado-2 .foto-4{
    grid-area: foto-4;
    background-color: var(--pagina-gris);

}

.grilla-legado-2 .texto-1{
    grid-area: texto-1;

}

.grilla-legado-2 .texto-1 .imagen{
    height: 350px;
    width: 100%;
    background-color: var(--pagina-gris);
}

.grilla-legado-2 .texto-2{
    grid-area: texto-2;
}

/*----------------PAGINA 12---------------*/

.grilla-boutique-1{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,minmax(200px,auto));


    grid-template-areas: "imagen   imagen "
                         "texto-1  texto-2  ";
}

.grilla-boutique-1 .imagen{
    grid-area: imagen;
}

.grilla-boutique-1 .texto-1{
    grid-area: texto-1;
}
.grilla-boutique-1 .texto-2{
    grid-area: texto-2;
    padding-top:40px ;
}

.grilla-boutique-2{
    display: grid;
    grid-gap: 20px;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,minmax(150px,auto));


    grid-template-areas: "foto-1   foto-2   foto-3  foto-4"
                         "foto-5   foto-6   foto-7  foto-8 "
                         "widget   widget   widget  widget";
}

.grilla-boutique-2 .widget{
    grid-area: widget;
    padding-top: 20px;
}
.grilla-boutique-2 .foto-1{
    grid-area: foto-1;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-2{
    grid-area: foto-2;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-3{
    grid-area: foto-3;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-4{
    grid-area: foto-4;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-5{
    grid-area: foto-5;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-6{
    grid-area: foto-6;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-7{
    grid-area: foto-7;
    background-color: var(--pagina-gris);
}
.grilla-boutique-2 .foto-8{
    grid-area: foto-8;
    background-color: var(--pagina-gris);
}






