
:root {

    /* Colors: */
    --unnamed-color-2727271a: #272727;
    --unnamed-color-e6e3de: #E6E3DE;
    --unnamed-color-de0d1f: #DE0D1F;
    --unnamed-color-f3f3f3: #F3F3F3;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-272727: #272727;

    /* Font/text values */
    --unnamed-font-family-lato: Lato;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-900: 900px;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-weight-medium: medium;
    --unnamed-font-size-14: 14px;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-20: 20px;
    --unnamed-font-size-35: 35px;
    --unnamed-font-size-45: 45px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-25: 25px;
    --unnamed-line-spacing-32: 32px;
    --unnamed-line-spacing-42: 42px;
    --unnamed-line-spacing-55: 55px;
    --unnamed-decoration-underline: underline;
    }

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

.main-container {
    margin: 0;
    padding: 0 60px;
}
/* --------------------------------------------- HEADER ---------------------------------------*/
.header {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: 200px auto 200px;
    height: 60px;
    padding: 25px 60px;

}
.header .header-logo {
    display: grid;
    grid-template-columns: 140px auto;
    align-items: center;
}
.header-logo img {
    width: 100%;
}
.header-logo .logo-text {
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    margin-left: 10px;
}
.header .header-menu {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header-menu-row-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
}
.header-menu-row-2-item {
    position: relative;
}
.header-menu-row-2-item i {
    color: #aaa;
}
.header-menu-row-1-item a {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-900) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-lato);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-272727);
    text-align: left;
    font: normal normal 900 20px/24px Lato;
    letter-spacing: 0px;
    color: #272727;
    opacity: 1;
}
.header-menu-row-1-item a:hover {
    text-decoration: underline;
    text-decoration-color: #777;
}

.dropdown-menu,
.dropdown-menu-seguinos {
    display: none;
    position: absolute;
    top: 15px;
    left: 0;
    width: 150px;
    background-color: #fff;
    z-index: 600;

    font-family: 'Lato', sans-serif;
    font-size: 11px;
    padding-top: 30px;
    box-sizing: border-box;


}



.header-menu-row-2-item:hover .dropdown-menu,
.dropdown-menu:hover {
    display: grid;
}
.header-menu-row-2-item:hover .dropdown-menu-seguinos,
.dropdown-menu-seguinos:hover {
    display: grid;
}

.dropdown-menu-seguinos i {
    color: #de0d1f !important;
    font-size: 15px;
}

.dropdown-menu a,
.dropdown-menu-seguinos a {
    padding: 10px 20px;
}
.dropdown-menu a:hover {
    background-color: #f3f3f3;
    text-decoration: underline;
    text-decoration-color: #777;
}
.dropdown-menu-seguinos a:hover {
    background-color: #f3f3f3;
}

.dropdown-menu a:hover,
.dropdown-menu-seguinos a:hover .seguinos-text {
    text-decoration: underline;
    text-decoration-color: #777;
}


.dropdown-menu-seguinos a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.single-link:hover {
    text-decoration: underline;
    text-decoration-color: #777;
}








.linea {
    height: 1px;
    background-color: #ddd;
    width: 100%;
}
.header-menu .linea {
    width: 140%;
}
.header-menu-row-2 {
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: start;
}
.header-menu-row-2-item > a {
    font-size: 11px;
    font-family: 'Lato', sans-serif;
    margin-right: 20px;
    color: inherit;
    text-decoration: none;
}
.header-slogan {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}
.header-slogan-row-1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
}
.header-slogan-row-1-item {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
.header-slogan-row-1 .cart-amount {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
.header-slogan-row-1  i {
    margin-left: 10px;
}
.header-slogan-row-2 {
    font-size: 13px;
    font-family: 'Lato', sans-serif;;
    color: #de0d1f;
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
}
/* --------------------------------------------- MAIN SLIDER ---------------------------------------*/

.slider {
    width: 100%;
}
.slider-item {
    position: relative;
    height: 0;
    padding: 0; /* remove any pre-existing padding, just in case */
    padding-bottom: 40%; /* for a 4:3 aspect ratio */
    background-image: url(../images/slider/1.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
}
.slider-item.item-1 {
    background-image: url(../images/slider/1.png);
}
.slider-item.item-2 {
    background-image: url(../images/slider/juego-normandy.png);
}
.slider-item.item-3 {
    background-image: url(../images/slider/juego-queens.jpeg);
}
.slider .slider-card {
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-10%, -50%);
    background-color: #fff;
    width: 40%;
    /*height: 40%;*/
    z-index: 10;
    padding: 2.5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    align-content: space-between;
}
.slider .slider-card .slider-card-text-big {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}
.slider .slider-card .slider-card-text-small {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    color: #de0d1f;
    font-size: 13px;
}

/* --------------------------------------------- IMAGES AND ACCORDIONS ---------------------------------------*/

.images-and-accordions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.7vw;
    height: 25vw;
}
.images-and-accordions .accordion {
    position: relative;
}
.accordion .accordion-header {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 20px auto;
    align-content: center;
}
.images-and-accordions .accordion .accordion-header {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.images-and-accordions .accordion .accordion-header:hover {
    cursor: pointer;
}
.images-and-accordions .accordion .accordion-header i {
    color: #de0d1f;
}
.images-and-accordions .accordion .accordion-header i.fa-minus { display: none }
.images-and-accordions img {
    width: 100%;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
}
.images-and-accordions .accordion-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 0;
    color: #272727;
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 0px;
    padding: 0 30px;
    line-height: 20px;
    box-sizing: border-box;
    opacity: 0;
    display: grid;
    align-content: space-between;

    transition: height .2s, padding .2s, opacity .2s, top .2s;
}
.images-and-accordions .accordion-container > a {
    display: none;
    text-decoration: none;
    color: #de0d1f;
    font-style: italic;
    font-family: 'Lato', sans-serif;

}
.images-and-accordions .accordion-container p a {
    color: inherit;
}
.images-and-accordions .accordion-container p .italic-text {
    font-style: italic;
}
.images-and-accordions .accordion-container p .bold-text {
    font-weight: 700;
}
#accordion-1:checked + .accordion-container > a,
#accordion-2:checked + .accordion-container > a,
#accordion-3:checked + .accordion-container > a,
#accordion-4:checked + .accordion-container > a {
    display: block;

}

#accordion-1:checked + .accordion-container,
#accordion-2:checked + .accordion-container,
#accordion-3:checked + .accordion-container,
#accordion-4:checked + .accordion-container {
    width: 100%;
    height: 220px;
    padding: 30px;
    opacity: 1;
    font-size: 12px;
    top: 40px;

}

.ac1 {
    margin-bottom: 30px;
}

/* ------------------------------------------- SLIDER DESTACADOS ------------------------------------*/

.slider-destacados {
    margin-bottom: 20px;
}
.destacados-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    height: 40px;
    align-content: center;
}
.destacados-header .header-title {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
}
.slider-destacados .header-title .section-title {
    font-family: Lato-Bold;
    font-size: 14px;
    margin-right: 10px;
}
.slider-destacados .header-title .section-link {
    font-family: Lato-Bold;
    font-style: italic;
    color: #de0d1f;
    font-size: 13px;
    margin-top: 1px;
}

/*------------------- OWL ----------------*/

.owl-controls .owl-buttons {
    position: relative;
}
.owl-controls .owl-prev {
    position: absolute;
    left: 10px;
    bottom: 140px;
    padding: 8px 12px;
    background-color: #26ccca;
    border-radius: 50px;
    transition: .5s;
}
.owl-controls .owl-next {
    position: absolute;
    right: 10px;
    bottom: 140px;
    padding: 8px 12px;
    background-color: #26ccca;
    border-radius: 50px;
    transition: .5s;
    z-index: 500;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after {
    content: "<";
    font-family: FontAwesome;
    color: #fff;
    font-size: 16px;
}
.owl-controls .owl-next:after {
    content: ">";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
    background-color: #000;
}
.destacados-content {
    width: 103%;
    overflow: hidden;
}

.destacados-content img {
    width: 89%;
}


/*
.slider-destacados {
    margin-bottom: 20px;
}
.destacados-header {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    height: 40px;
    align-content: center;
}
.destacados-header .header-title {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: start;
}
.slider-destacados .header-title .section-title {
    font-family: Lato-Bold;
    font-size: 14px;
    margin-right: 10px;
}
.slider-destacados .header-title .section-link {
    font-family: Lato-Bold;
    font-style: italic;
    color: #de0d1f;
    font-size: 13px;
    margin-top: 1px;
}

.destacados-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px;
    justify-content: space-between;
}
.destacados-content img {
    width: 100%;
}

*/

/*-------------------------------------- COMO ELEGIR PRODUCTO ---------------------------------*/

.elegir-producto {
    display: grid;
    grid-template-columns: 500px;
    align-content: center;

    width: 100%;
    padding: 70px 8%;
    font-family: Lato-Regular;

    box-sizing: border-box;
    margin: 40px 0;
    background-image: url(../images/como-elegir-producto.jpg);
    background-position: center right;
    background-size: cover;
}
.elegir-producto .title {
    font-family: Lato-Bold;
    margin: 0;
}
.elegir-producto .body {
    font-size: 12px;
    line-height: 20px;
    margin: 5px 0;
}
.elegir-producto a {
    text-decoration: none;
    color: #de0d1f;
    font-style: italic;
    font-family: Lato-Bold;
    font-size: 12px;
    margin-top: 10px;
}

/*-------------------------------------------- INSTAGRAM ------------------------------------------*/
.instagram {
    margin-bottom: 30px;
}

.instagram .section-title {
    font-family: Lato-Bold;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.instagram .instagram-content {
    width: 100%;
}
#instafeed-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
}
#instafeed-container > :nth-child(n+6) {
    display: none;
}
#instafeed-container > *:hover {
    opacity: 0.6;

    transition: opacity .2s;
}


/*-------------------------------------------- FOOTER ----------------------------------------------*/

.footer {
    width: 100%;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #ffffff;

    display: grid;
    grid-template-columns: repeat(5, 15%) 150px;
    justify-content: space-between;
    grid-column-gap: 30px;
}
.footer .footer-logo img {
    width: 90px;
}
.footer .footer-logo .logo-text {
    text-transform: uppercase;
    font-family: Lato-Regular;
    font-size: 10px;
    margin-top: 10px;
}
.footer .horarios,
.footer .contacto,
.footer .legales,
.footer .redes {
    font-family: Lato-Regular;
    font-size: 12px;
    display: grid;


}
.footer .authors {
    font-family: Lato-Regular;
    font-size: 12px;
    display: grid;
    justify-content: end;
    align-content: end;
    grid-row-gap: 10px;
    text-align: right;
}
.footer .authors .estudio-nuniez {
    color: #707070;
}
.footer .authors .tember {
    color: red;
}
.footer .section-title {
    font-family: Lato-Bold;
}
.footer .social-icons i {
    font-size: 14px;
    margin-right: 10px;
}
.footer .link {
    font-family: Lato-Bold;
    font-style: italic;
    color: #de0d1f;
    font-size: 12px;
}
@media only screen and (max-width: 1040px) {
    .footer {

        grid-template-columns: repeat(5, auto);
        grid-column-gap: 20px;
    }
}





/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------SHOP INDEX------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

#shop-index {
    background-color: #f3f3f3;
}

.promo-container {
    height: 95%;
    overflow: hidden;
}

.promo-container img {
    width: 100%;
}

.search-section {
    width: 100%;
    height: 65px;
    padding: 0 20px;

    background-color: #de0d1f;
    color: #fff;
    font-family: Lato-Bold;

    display: grid;
    grid-template-columns: auto 40% auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.search-title {
    font-size: 25px;
    font-weight: 700;
}

.search-bar input {
    width: 100%;
}

.shipping-section {
    width: 100%;
    height: 50px;
    padding: 0 20px;

    background-color: #fff;
    font-family: Lato-Regular;
    font-size: 12px;
    text-align: left;

    display: grid;
    grid-template-columns: auto 80%;
    align-content: center;
    box-sizing: border-box;
}

.breadcrumb span,
.shipping-items .item-4 span {
    font-weight: 700;
}

.shipping-items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: end;
    grid-gap: 6%;
    padding-right: 6%;
}
.shipping-items .link {
    color: #de0d1f;
    text-decoration: underline;
}
.shipping-items .item-1,
.shipping-items .item-2,
.shipping-items .item-3 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.shipping-items .item-1 img {
    width: 120px;
}
.shipping-items i {
    font-size: 20px;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------EMPRESARIOS-----------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

#empresarios {
    font-family: 'Lato', sans-serif;

}
.simple-text {
    font-size: 10.5px;
    font-family: 'Lato', sans-serif;

}
#empresarios .banner,
#empresarios .subsection {
    margin-bottom: 30px;
}
#empresarios .breadcrumb {
    margin-bottom: 10px;
}
#empresarios .banner {
    width: 100%;
}
#empresarios .subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.8vw;
}
#empresarios .banner img,
#empresarios .subsection img {
    width: 100%;
}
#empresarios .subsection .title,
#empresarios .map-section .text .title {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
#empresarios .subsection .body {
    line-height: 20px;
    margin-bottom: 20px;
}
#empresarios .negrita {
    font-weight: 700;
}
#empresarios .subrayado {
    border-bottom: 2px solid #aaa;
}
#empresarios .map-section {
    background-image: url(../images/empresarios/mapa.jpg);
    width: 100%;
    height: 26vw;
    margin-top: 30px;
}
#empresarios .map-section .text {
    display: grid;
    align-items: center;
    align-content: center;
    width: 30%;
    height: 100%;
    margin-left: 8vw;
}
#empresarios .map-section .text .body {
    line-height: 20px;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------CONTACTAR SECTION-------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

.contactar-section {
    width: 100%;
    height: 25vw;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    grid-row-gap: 15px;
}
.contactar-section .text {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 22px;
}
.contactar-section .button a {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;

    color: #fff;
    background-color: #de0d1f;
    padding: 8px 30px;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------PROFESIONALES---------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

#profesionales {
    font-family: 'Lato', sans-serif;

}
#profesionales .banner,
#profesionales .subsection {
    margin-bottom: 30px;
}
#profesionales .breadcrumb {
    margin-bottom: 10px;
}
#profesionales .banner {
    width: 100%;
}
#profesionales .subsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.8vw;
}
#profesionales .banner img,
#profesionales .subsection img {
    width: 100%;
}
#profesionales .subsection .title,
#profesionales .lanzamientos-section .title {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}
#profesionales .subsection .body {
    line-height: 20px;
    margin-bottom: 20px;
}
#profesionales .negrita {
    font-weight: 700;
}
#profesionales .subrayado {
    border-bottom: 2px solid #aaa;
}
#profesionales .lanzamientos-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2.8vw;
    align-items: center;
    background-color: #f3f3f3;
}
#profesionales .lanzamientos-content .text-container {
    padding: 15%;
}
#profesionales .lanzamientos-content .text-container .text-body {
    line-height: 20px;
}
#profesionales .lanzamientos-content img {
    width: 100%;
}
#profesionales .lanzamientos-content .text-container a {
    text-decoration: none;
    color: #de0d1f;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 11px;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------NOVEDADES-------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/

#novedades {
    font-family: 'Lato', sans-serif;
}

#novedades .breadcrumb {
    margin-bottom: 10px;
}
#novedades .content-container {
    background-color: #f3f3f3;

    display: grid;
    grid-template-columns: auto 320px;
    padding: 30px;
}
#novedades .sidebar-container {
    box-sizing: border-box;
}
#novedades .sidebar-container .menu {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;

    display: grid;
    height: 60px;
    align-content: space-between;
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}
#novedades .sidebar-container .menu .active {
    color: #de0d1f;
}
#novedades .body-text {
    line-height: 20px;
    font-size: 10.5px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 10px;
}

#novedades .sidebar-container .text {
    margin-top: 20px;
}
#novedades .sidebar-container .social-media,
#novedades .sidebar-container .history {
    margin-top: 30px;
}
#novedades .main-container {
    margin: 0;
    padding: 0 40px;
    color: #000;
    box-sizing: border-box;
}
#novedades .novelty-container {
    margin-right: 30px;
    margin-bottom: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
#novedades .novelty-container a {
    text-decoration: none;
    color: #de0d1f;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 11px;
}
#novedades .novelty-container img {
    width: 100%;
}
#novedades .title {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}
#novedades .novelty-container .novelty-item {
    height: 380px;
}
#novedades .pagination {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #aaa;

    display: grid;
    grid-template-columns: repeat(7, 22px);
}
#novedades .pagination .active{
    color: #000;
}
#novedades .pagination img {
    width: 11px;
    margin-top: 2px;
}

/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* ----------------------------------------NOVEDADES DETAIL------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------------*/



















#novedades-detail {
    font-family: 'Lato', sans-serif;

}

#novedades-detail .breadcrumb {
    margin-bottom: 10px;
}
#novedades-detail .content-container {
    background-color: #f3f3f3;

    display: grid;
    grid-template-columns: auto 320px;
    padding: 30px;
}
#novedades-detail .sidebar-container {
    box-sizing: border-box;
}
#novedades-detail .sidebar-container .menu {
    color: #aaa;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;

    display: grid;
    height: 60px;
    align-content: space-between;
    padding-bottom: 20px;

    border-bottom: 1px solid #ccc;
}
#novedades-detail .sidebar-container .menu .active {
    color: #de0d1f;
}
#novedades-detail .body-text {
    line-height: 20px;
    font-size: 10.5px;
    font-family: 'Lato', sans-serif; font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
}

#novedades-detail .sidebar-container .text {
    margin-top: 20px;
}
#novedades-detail .sidebar-container .social-media,
#novedades-detail .sidebar-container .history {
    margin-top: 30px;
}
#novedades-detail .main-container {
    margin: 0;
    padding: 0 40px;
    color: #000;
    box-sizing: border-box;
}

#novedades-detail .novelty-images img {
    width: 100%;
}
#novedades-detail .title {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 10px 0;
}

#novedades-detail .novelty-title {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
#novedades-detail .novelty-subtitle {
    font-size: 13px;
    margin-bottom: 20px;
}
#novedades-detail .negrita {
    font-weight: 700;
}
#novedades-detail .subrayado {
    border-bottom: 2px solid #aaa;
}
#novedades-detail .novelty-section {
    padding-right: 30px;
}
#novedades-detail .novelty-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}










